
.dop {
  @apply grid grid-cols-1 h-full items-start;
  grid-template-areas:
    "dop--header"
    "dop--gallery"
    "dop--details";

  @screen lg {
    @apply grid-cols-2;
    grid-template-areas:
      "dop--header  dop--gallery"
      "dop--details dop--gallery";
  }
}
.dop--header {
  grid-area: dop--header;
}
.dop--details {
  grid-area: dop--details;
}
.dop--gallery {
  grid-area: dop--gallery;
  background: #eeeeee;
  @screen lg {
    height: 100%;
  }
}

.dop--cog-menu {
  @apply flex-none inline-block p-2 m-2 self-center cursor-pointer rounded-full;
  .dop--cog-menu--icon {
    @apply text-3xl;
  }

  &:hover {
    @apply bg-gray-200;
    .dop--cog-menu--icon {
      @apply text-gray-900;
    }
  }
}
