.dop {
  @apply flex h-full flex-col pl-4 pr-4;

  @screen lg {
    @apply flex-row pr-0;
  }
}
.dop--left, .dop--right {
  display: contents; // On smaller screens, ignore these elements to collapse to single-column
  @screen lg {
    @apply flex flex-col flex-grow w-1/2;
  }
}
.dop--left {
  @screen lg {
    @apply pr-4 pb-4;
    max-width: 800px;
  }
}


.dop--header {
  order: 1;
}
.dop--details {
  order: 3;
}
.dop--gallery {
  @apply bg-gray-100;
  order: 2; // Show between header & details on smaller screens
  @screen lg {
    @apply h-full;
  }
}

.dop--cog-menu {
  @apply flex-none inline-block p-2 m-2 cursor-pointer rounded-full;
  .dop--cog-menu--icon {
    @apply text-3xl;
  }

  &:hover {
    @apply bg-gray-200;
    .dop--cog-menu--icon {
      @apply text-gray-900;
    }
  }
}

.dop--total-row, .dop--total-row > td, .dop--total-row > th {
  border-top-width: 1px;
  border-bottom-width: 3px;
  border-style: solid none double;
}
